/* ISBNcheck.css */

/* Container styles */
.isbn-check-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Search bar container styles */
.search-bar-container {
    background-color: #f8f8f8; /* Set the background color for the container */
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 50px;
}

/* Search bar styles */
.search-bar {
    display: flex;
    background-color: #fff; /* Set the background color */
    border: 2px solid #ffffff; /* Set the border color */
    border-radius: 3.8rem; /* Set the border-radius */
    overflow: hidden; /* Ensure the border-radius is applied to child elements */
    margin-top: 30px;
}

.search-bar input {
    flex: 1;
    padding: 0.6rem;
    border: none;
    outline: none;
    background-color: #fff; /* Set input background color */
}

.search-bar button {
    padding: 0.6rem 1.4rem;
    cursor: pointer;
    border: none;
    border-radius: 0 3.8rem 3.8rem 0; /* Set the border-radius to match the search bar */
    background-color: #ffffff;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar button img {
    width: 16px;
    height: 16px;
    margin-right: 4px;
}

/* Other styles */
.book-details {
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 20px;
}

.book-img {
    max-width: 275px; /* Set the maximum width for the book cover container */
    margin: 0 auto; /* Center the container */
}

/* Adjust the cover image size */
.book-details img {
    max-width: 100%; /* Make the image responsive */
    height: auto;
    margin-top: 10px; /* Add a little space between image and details */
}
.not-found-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 30px;
    margin-bottom: 100px;
}
